<!DOCTYPE html>
<html lang="en">
    <style>
        body{
            color: black;
            margin-top: 30px;
            padding: 5px;
            align-items: center;
            margin: 25px;
            position: absolute;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>

    <nav style="align-items: center;">
        <a href="/">Home</a> || 
        <a href="/links">Links</a> ||
        <a href="/resources"> Resources</a>
    </nav>
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>